<div class="lock-aling">
  <button
    mat-raised-button
    color="primary"
    class="big-lock"
    [disabled]="!canOpenBigLock"
    (click)="unlockBig()"
  >
    <mat-icon
      aria-hidden="false"
      class="big-lock-icon"
      [fontIcon]="bigLock.isLocked ? 'lock' : 'lock_open'"

    ></mat-icon>
  </button>

  <div>
    <button
      *ngFor="let lock of smallLocks; let i = index"
      mat-raised-button
      color="primary"
      class="small-lock"
      (click)="unlock(i)"
    >
      <mat-icon
        aria-hidden="false"
        [fontIcon]="lock.isLocked ? 'lock' : 'lock_open'"
        class="small-lock-icon"
      ></mat-icon>
    </button>
  </div>
</div>
